name: Check PR
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, edited]

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: |
      github.event_name == 'pull_request' &&
      github.event.action != 'edited'
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: shellcheck
        uses: reviewdog/action-shellcheck@1bb9751763fdfbee4b5043772c37374f103bff9e # v1.31.0
        with:
          reporter: github-pr-review
          pattern: |
            gh-squash-merge
          fail_on_error: true
          github_token: ${{ secrets.github_token }}

  committed:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: |
      github.event_name == 'pull_request' &&
      github.event.action != 'edited'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: committed
        uses: crate-ci/committed@15229711f8f597474c0b636f327cde5969f9a529 # v1.1.7
        with:
          args: --no-merge-commit

  # Check the PR title conforms to 'conventional'
  pr-title:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    if: |
      github.event_name == 'pull_request' &&
      (github.event.action == 'edited' || github.event.action == 'opened')
    steps:
      - run: |
          regexp="^(build|ci|docs|feat|fix|perf|refactor|style|test|chore|deps)(\(.+\))?(!)?: "
          title="${{ github.event.pull_request.title }}"
          if [[ ! $title =~ $regexp ]]; then
            echo "PR Title is not 'conventional' matching $regexp" >> "$GITHUB_STEP_SUMMARY"
            exit 1
          fi

  typos:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: |
      github.event_name == 'pull_request' &&
      github.event.action != 'edited'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: typos
        uses: crate-ci/typos@52bd719c2c91f9d676e2aa359fc8e0db8925e6d8 # v1.35.3

  dependabot-merge-trigger:
    needs:
      - shellcheck
      - committed
      - typos
      - pr-title
    permissions:
      contents: write
      pull-requests: read
    if: |
      github.actor == 'dependabot[bot]' &&
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    name: PR Trigger
    steps:
      - name: dispatch
        uses: quotidian-ennui/actions-olio/pr-trigger@main
        with:
          event_type: "dependabot-merge"
